footer {
  color: #70706e;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-transform: uppercase;
}

a:link {
  color: #575756;
}

small,
a {
  color: #575756;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .Footer,
  small {
    font-size: 15px;
    text-align: center;
  }
}
